#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 2000;
  background: rgba(26, 26, 26, 0.8);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 100%;
}

.navbar-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ede7f6;
}

.menu-toggle {
  background: none;
  border: none;
  color: #ede7f6;
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(26, 26, 26, 0.95);
  width: 100%;
}

.nav-menu.open {
  display: flex;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #ede7f6;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-link:hover {
  color: #ca61dc;
}

.navbar-link svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.navbar-link:hover svg {
  fill: #ca61dc;
}

@media (min-width: 992px) {
  .navbar-header {
    font-size: 2rem;
    font-weight: bold;
    color: #ede7f6;
  }

  .menu-toggle {
    display: none;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    position: static;
    background: transparent;
    padding: 0;
    margin-left: auto;
  }
}
